html {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}

:root {
  --font-base: "Source Sans 3", sans-serif;
  --font-special: "Montserrat", sans-serif;

  --color-page-bg: #444444;
  --color-visual-bg: #f0f0f0;
}

body {
  font-family: var(--font-base);
  font-optical-sizing: auto;
  margin: 0;
  background: var(--color-page-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-special);
  font-optical-sizing: auto;
}

.container {
  width: 1040px;
  margin-inline: auto;
  background: white;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  font-family: var(--font-special);
}

.logo {
  font-weight: 900;
  font-size: 40px;
}

.cart {
  display: flex;
  justify-content: end;
}

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
  text-transform: uppercase;
}

.menu__item {
  text-decoration: none;
  color: black;
}

.banner {
  background: url(images/banner.jpg) center/cover no-repeat;
  /* padding: 100px; */
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  color: white;
}

.banner__title {
  font-size: 40px;
  margin-bottom: 15px;
}

.banner__description {
  font-size: 25px;
  font-weight: 300;
  margin-top: 0;
}

.shop {
  display: flex;
  flex-basis: 25%;
  gap: 15px;
  padding: 15px;
}

.shop__item {
  flex-basis: 25%;
}

.shop__image {
  width: 100%;
}

.shop__price {
  font-weight: bold;
  font-size: 20px;
}

.visual {
  display: flex;
}

.visual__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  background-color: var(--color-visual-bg);
}

.visual__title {
  font-weight: 300;
  font-size: 40px;
}

.visual__description {
  font-size: 20px;
}

.visual__photo {
  flex-basis: 50%;
}

.visual__image {
  width: 100%;
  display: block;
}
